.row
  .col-xs-3
  .col-xs-6
    %form
      %h1 About
      %p One Time Link was created in order to easily send encrypted files to end users.

      %h3
        Questions, Comments or Concerns
      %p
        Email: eric.iacutone@gmail.com
      = link_to 'Send a link', root_url