@import "bootstrap-sprockets";
@import "bootstrap";
@import "devise";
@import "links";
@import "users";

.navbar {
  background: #5E5F68;
}

.nav {
  padding-right: 20px;
}

body {
  background: #DCE0F5;
}